<div class="container">

  <div class="d-flex justify-content-center mb-2">
    <h1>推し活コミュ！！</h1>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p class="mb-3">推し活コミュへようこそ!</p>
    <p class="mb-3">このサイトは、自分の"推し"について検索したり</p>
    <p class="mb-3">自分の"推し"を発信したり出来ます</p>
    <p class="mb-3">気軽に参加して下さい!</p>
  </div>

  <div class="btn-wrapper col-10 mx-auto mt-3">
    <duv class="row justify-content-center">
      <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class:"btn btn-secondary btn-sm mb-3 col-md-4", method: :post %>
    </duv>

    <div class="row justify-content-center mt-3">
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-warning btn-sm mb-3 col-md-4" %>
    </div>

    <div class="row justify-content-center mt-3">
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success btn-sm col-md-4" %>
    </div>
  </div>
</div>