<div class="container mt-5">
  <h3 class="text-center">投稿一覧</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table mt-3">
          <thead>
            <tr bgcolor="#DDDDDD">
              <th>ユーザーID</th>
              <th>ユーザー名</th>
              <th>投稿タイトル</th>
              <th></th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td><%= post.user.id %></td>
              <td><%= post.user.name %></td>
              <td><%= post.title %></td>
              <td><%= link_to 'show', admin_post_path(post) %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
</div>