@use '~bootstrap/scss/bootstrap';

.comment {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.post {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.paginate {
  display: flex;
  justify-content: center;
}

// .paginate a {
//   margin: 5px;
// }